.navigation{
    a{
        color: $color-1;
        &:hover {
            background-color: $color-2;
            color: $color-5;
          }
    }
    .linkCv{
        color: $color-2;
    }
    .side-left {
        height: 100vh;
    }
    img{
        margin-top: 10vh;
    }
}