.navigation{
    .side-left {
        height: 100vh;
    }
    img{
        margin-top: 10vh;
    }

    span{
        font-size : 40px;
    }

   a{
    color: rgb(205, 203, 200);
   }
}



  
    
      
