.home {
  .accueil {
    height: 100vh;

    .titles {
      border: double 1.8px $color-2;
      border-radius: 1%;
      animation-duration: 3s;
      animation-name: slidein;
      width: 50%;



    }

    @keyframes slidein {
      from {
        margin-bottom: 100%;
      }

      to {
        margin-bottom: 0%;
      }
    }

    .titles:hover {
      background-color: #a693f5;
      transition: 1s ease-in-out;
    }

    .gif {
      width: 20%;
      object-fit: cover;
    }
  }

  i {
    color: $color-2;
    margin: 0px 40px 0px 40px;
  }

  h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 20px;
    font-style: italic;
  }

  h3 {
    font-size: 15px;
    background-color: $color-2;
    border-radius: 10px;
    padding: 5px;
    color: $color-1;
  }

  .socials {

    ul {
      margin-bottom: 5px;
    }

    a,
    i {
      flex-direction: row;
      font-size: 10px;
      color: white;
      text-transform: uppercase;

    }
  }

  a:hover {
    background-color: transparent !important;
    color: rgb(159, 68, 234);

  }



  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 555;
    background-color: $black;

    i {
      color : #a166ed;
    }


  }
}