*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.skills {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}

.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: $black;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(255, 255, 255);
}



button {
  border: none;
  color: $white;

}

.content-tabs {
  flex-grow: 1;



  i {
    font-size: 35px;
    color: $white;
  }
}

.content {
  
  padding: 20px;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 19px;
  font-size: 15px;  
  
  &:nth-child(3){
    font-size: 2px;
  }
}



.active-content {
 visibility: visible;
 display: flex;
 flex-wrap: wrap;
}

.skills-content {

  .side-left {
    height: 100vh;


  }


  .card {
    border: none;
    width: 100px !important;
    height: 100px !important;
    background-color: transparent;
    margin: 0.5em;
    i {
        text-align: center;
        margin: 0;
        padding: 0;
      }
  }

 

  .card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  

    
  }

<<<<<<< Updated upstream
i{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid;
}
=======
  .card-front {
    transform: rotateY(0deg);
    border: 1px solid $white;
    
  }

  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    border: 1px solid $white;
    top: 0;
  }
>>>>>>> Stashed changes

  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }

  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

  .bootstrap{
    font-size: 2px;
  }
}