@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}
// variables et mixins
$font-1: "Syncopate", sans-serif;

$color-1: #222;
$color-2: rgb(241, 241, 241);
$color-3: rgb(43, 145, 148);
$color-4: #293241;
$color-5: #ee6c4d;
$white: rgb(241, 241, 241);
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 100vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


// Général
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-1;
  background-color: $color-1;
  color: $color-2;
}
a {
  text-decoration: none;
  list-style: none;
  color: $color-2;
  &:hover {
    color: $color-5;
    background-color: $color-2;
  }
}
.skills-content,
.contact-content,
.about-content,
.contact-content
 {
  height: $minHeight;
  @include verticalCenter();
}
.Notfound-content{
  height: $minHeight;
  @include verticalCenter();
  flex-direction: column;
}

